@model IEnumerable<PrescriptionUI.Models.PatientViewModel>

@{
    ViewBag.Title = "DoctorOptions";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}
<body>
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url('../vegefoods/images/doctorOption.jpg');" alt="">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">Hi</h1>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </section>
</body>