@model PrescriptionUI.Models.GraphModel
@{
    ViewBag.Title = "AdministratorOptions";
    Layout = "~/Views/Shared/OptionsLayout.cshtml";
}


<center>
    <h1 style="font-family:'Agency FB'">Wellcome to the Administrator's Menu</h1>
</center>